# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Database (Don't commit your actual data!)
*.db
*.sqlite3
data/

# test sripts
test_rag.py
temp.py
