selenium
beautifulsoup4
webdriver-manager
requests
finnish-media-scrapers
pandas
streamlit
matplotlib
plotly
numpy

langchain-huggingface
langchain-community
sentence-transformers
chromadb
langchain-groq
